.btn-container {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 20px;

	&:has(button:hover) .btn-line,
	&:has(button:focus) .btn-line {
		height: 3px;
		background-color: var(--light-color);
	}

	.left-line {
		display: none;
	}
}

button {
	align-items: center;
	border: none;
	background-color: transparent;
	color: var(--neutral-color);

	display: flex;
	font-size: 1.2rem;
	gap: 10px;
	min-width: 250px;
	padding: 10px;
	position: relative;
	transition: border 1ms;

	&:focus,
	&:hover {
		animation: flicker 400ms forwards;
		background-color: var(--dark-color);
		border-right: solid var(--light-color);
		border-left: solid var(--light-color);
		border-width: 3px;
		font-size: 1.4rem;
		outline: none;
		opacity: 1;
	}

	&:before {
		background-color: var(--light-color);
		content: '';
		opacity: 0;
		height: 3px;
		position: absolute;
		top: 50%;
		left: -60px;
		width: 60px;
	}

	&:hover:before,
	&:focus:before {
		opacity: 1;
	}
}

@keyframes flicker {
	25% {
		background-color: var(--dark-color);
	}
	50% {
		background-color: var(--neutral-color);
	}
	100% {
		background-color: var(--dark-color);
	}
}

@media screen and (max-width: 500px) {
	.btn-container {
		grid-template-columns: repeat(3, 1fr);

		.left-line {
			display: initial;
		}
	}
	button {
		justify-content: center;
	}
}
