.btn-container {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 20px;

	&:has(button:hover) .btn-line,
	&:has(button:focus) .btn-line {
		height: 3px;
		background-color: var(--light-color);
	}

	.left-line {
		display: none;
	}
}

.btn-container button {
	animation: flicker 400ms forwards;
	align-items: center;
	border: none;
	background-color: transparent;
	color: var(--neutral-color);

	display: flex;
	font-size: 1.2rem;
	gap: 10px;

	min-width: 300px;
	padding: 10px;
	position: relative;
	transition: border 1ms;

	&:focus,
	&:hover {
		background-color: var(--dark-color);

		border-right: solid var(--light-color);
		border-left: solid var(--light-color);
		border-width: 3px;
		outline: none;
		opacity: 1;
	}
}

.btn-container.center-ver {
	grid-template-columns: repeat(3, 1fr);

	.left-line {
		display: initial;
	}
}

@keyframes flicker {
	25% {
		background-color: var(--dark-color);
	}
	50% {
		background-color: var(--neutral-color);
	}
	75% {
		background-color: var(--dark-color);
	}
}

@media screen and (max-width: 778px) {
	.btn-container {
		grid-template-columns: repeat(3, 1fr);

		.left-line {
			display: initial;
		}
	}
	button {
		justify-content: center;
	}
}
