main {
	animation: ContentAnim 3s ease-out forwards;
	display: grid;
	width: 100%;
	height: 100%;
	z-index: 3;
	position: relative;
}

main .container {
	padding-left: 40px;
	width: 100%;
	color: var(--light-color);
	position: relative;
}

main .fadeIn {
	* {
		animation: increaseOpacity 2.5s forwards;
		animation-delay: 2s;
		opacity: 0.01;
	}
}

main .lines-container {
	max-width: 250px;
	min-width: 125px;
	padding: 0 50px;
}

.pusher {
	display: flex;

	.left-side {
		flex-grow: 1;
	}

	.lines-container {
		min-width: 150px;
	}
}

.logo {
	margin-top: 15vh;
}

.actions-container {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	position: relative;

	&::before,
	&:after {
		background-color: var(--neutral-color);
		content: '';
		position: absolute;
	}
	&::before {
		animation: toRightAndBottom 4s ease-in-out forwards;
		animation-delay: 2s;
		bottom: 100%;
		height: 2px;
		top: 0;
		width: 20px;
	}
	&::after {
		--topPosition: 0;
		--bottomPosition: 90%;
		animation: toBottomAndRight 4s ease-in-out forwards;
		animation-delay: 2s;
		bottom: 90%;
		height: 20px;
		top: 0;
		width: 2px;
	}
}

.sound-control {
	position: absolute;
	top: 3vh;
	right: 3vw;
}

.go-back {
	margin-top: 25px;
}

.sound-control button,
.go-back button {
	align-items: center;
	background-color: transparent;
	border: none;
	color: inherit;
	display: flex;

	img {
		width: 46px;
		display: block;
	}
}

/* Animation for .actions:before */
@keyframes toRightAndBottom {
	0% {
		left: 0;
	}
	/* With calc both bars always have the same appearance at the final position despite viewport size. */
	50% {
		left: calc(50% - 18px);
		top: 0;
	}

	100% {
		left: calc(50% - 18px);
		top: 107%;
	}
}
/* Animation for.actions:after */
@keyframes toBottomAndRight {
	0% {
		left: 0;
	}

	50% {
		left: 0;
		top: 100%;
	}

	100% {
		left: 50%;
		top: 100%;
	}
}

/* Animation only used to move the manin content around. */
@keyframes ContentAnim {
	0% {
		grid-template-columns: 120% 75%;
	}
	50% {
		grid-template-columns: 25% 75%;
	}
	100% {
		grid-template-columns: 25% 75%;
	}
}

@keyframes ContentAnimReverse {
	0% {
		grid-template-columns: 25% 75%;
	}
	50% {
		grid-template-columns: 25% 75%;
	}
	100% {
		grid-template-columns: 120% 75%;
	}
}

@media screen and (max-width: 778px) {
	main .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
	}

	main .container img {
		max-width: 80%;
	}

	button {
		text-align: center;
	}

	.actions-container {
		&:before,
		&:after {
			opacity: 0;
		}
	}
}
