/* Main content  */
main {
	display: flex;
	padding-left: 10px;
	width: 100%;
}

.overlay {
	background-image: url('../../assets/images/bg-poster.webp');
}

.main-wrapper {
	padding-left: 15px;
}

.actions-container {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	padding: 20px 0 20px 20px;
	position: relative;

	&::before,
	&:after {
		background-color: var(--neutral-color);
		content: '';
		position: absolute;
	}
	&::before {
		animation: toRightAndBottom 4s ease-in-out forwards;
		bottom: 100%;
		height: 2px;
		left: 0;
		top: 0;
		width: 20px;
	}
	&::after {
		animation: toBottomAndRight 4s ease-in-out forwards;
		bottom: 90%;
		height: 20px;
		top: 0;
		width: 2px;
	}
}

@keyframes toBottomAndRight {
	0% {
		left: 0;
	}

	50% {
		left: 0;
		top: 100%;
	}

	100% {
		left: 50%;
		top: 100%;
	}
}
@keyframes toRightAndBottom {
	0% {
		left: 0;
	}
	/* With calc both bars always have the same appearance at the final position despite viewport size. */
	50% {
		left: calc(50% - 18px);
		top: 0;
	}

	100% {
		left: calc(50% - 18px);
		top: 107%;
	}
}

@media screen and (max-width: 500px) {
	main {
		padding: 0;
		text-align: center;
	}

	.main-wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 0;

		img {
			width: 75%;
		}
	}

	.actions-container {
		padding: 0;

		&:before,
		&:after {
			display: none;
		}
	}

	button {
		text-align: center;
	}
}
