.overlay-black {
	height: 100vh;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: -1;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--overlay-color: hsla(180 39% 7% / 0.8);
	--light-color: #fff;
	--dark-color: #000;
	--neutral-color: hsla(0, 0%, 100%, 0.7);
}

html,
body,
#root,
.container {
	height: 100%;
	width: 100%;
}
html {
	background-color: black;
}

.container {
	animation: imageAppear 3s forwards;
	overflow-x: hidden;

	font-family: Arial, Helvetica, sans-serif;
}

.gun-bg {
	animation: ImageAppear 3.5s forwards;
	animation-delay: 3s;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url('./assets/images/bg-poster.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	opacity: 0.01;
	content: '';
	z-index: -1;
}

button {
	cursor: pointer;
}

video {
	height: 100vh;
	left: 0;
	object-fit: cover;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: -1;
}

img {
	display: block;
	max-width: 100%;
}

.overlay {
	border-image: linear-gradient(var(--overlay-color), var(--overlay-color)) fill
		1;
}

.lines-container {
	position: relative;
	height: 100%;
	background-color: transparent;

	&::before,
	&::after {
		content: '';
		background-color: var(--overlay-color);
		background-image: url('assets/images/right-line.webp');
		background-repeat: repeat-y;
		background-position: center;
		background-size: contain;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
	}

	&::after {
		left: 0;
		background-image: url('assets/images/left-line.webp');
	}
}

@keyframes ImageAppear {
	to {
		opacity: 0.4;
	}
}

@keyframes increaseOpacity {
	to {
		opacity: 1;
	}
}
