* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--overlay-color: hsla(180 39% 7% / 0.8);
	--light-color: #fff;
	--dark-color: #000;
	--neutral-color: hsla(0, 0%, 100%, 0.7);
}

html,
body,
#root,
.container {
	height: 100%;
	width: 100%;
}

.container {
	overflow-x: hidden;
	background-image: url(./assets/images/bg-poster.webp);
	font-family: Arial, Helvetica, sans-serif;
}

video {
	height: 100vh;
	left: 0;
	object-fit: cover;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: -1;
}

img {
	display: block;
	max-width: 100%;
}

.logo {
	margin-top: 40px;
}

.overlay {
	border-image: linear-gradient(var(--overlay-color), var(--overlay-color)) fill
		1;
}

.lines-container {
	position: relative;
	height: 100%;

	&::before,
	&::after {
		content: '';
		background-color: var(--overlay-color);
		background-image: url('assets/images/right-line.webp');
		background-repeat: repeat-y;
		background-position: center;
		background-size: contain;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
	}

	&::after {
		left: 0;
		background-image: url('assets/images/left-line.webp');
	}
}
